html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Remove default orange outline, add custom blue glow */

.ProseMirror {
  outline: 3px solid #2563eb; /* Your custom blue border */
  outline-offset: 4px;
}
