html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Remove default orange outline, add custom blue glow */
.ProseMirror-focused {
  outline: none !important;
  box-shadow: 0 0 0 3px #2563eb !important;
  outline-offset: 4px !important;
  border: none !important;
}
